<!doctype html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'style.css' %}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet" type='text/css'>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

		<title>Ft_transcendence</title>
		<link rel="icon" type="image/x-icon" href="{%static '/img/favicon.ico' %}">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
				<div class="container d-flex justify-content-between">
					<div class="col-4">
						<div class="d-flex justify-content-start">
							<a class="navbar-brand text-decoration-none" href="#home">
								<img  class="responsive" src="{%static 'img/trou-noir.png' %}" alt="logo" width="40rem" height="40rem">
							</a>
						</div>
					</div>
					<div class="col-4">
						<div class="d-flex justify-content-center">
							<button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" id="navbarToggler">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
								<ul class="navbar-nav">
									<li class="nav-item">
										<a class="nav-link" href="#home">Mode</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#stats">Stats</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#blockchain">Blockchain</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="d-flex justify-content-end" id="logInContainer">
							<div id="logInButton">
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<div id="home" class="content content-home">
				<section class="py-5 mt-5">
					<div class="container">
						<div class="py-5 text-light">
							<div class="row d-flex justify-content-center">
								<div class="col-8 col-sm-6 col-md-4 mt-3">
									<div class="border rounded-2 text-light p-3">
										<h3 class="text-center">Solo</h3>
										<div class="show-content text-center">
											<img class="image" src="{% static 'img/trekking.png' %}" alt="trekking" width="200rem" height="200rem">
											<p class="paragraph">For lazy gamers...</p>
											<div class="dropdown">
												<button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownLevelButton" data-bs-toggle="dropdown" aria-expanded="false">
													Level
												</button>
												<ul class="dropdown-menu" aria-labelledby="dropdownLevelButton">
													<li><a class="dropdown-item" id="easyModeButton" onclick="onClickEasy();">Easy</a></li>
													<li><a class="dropdown-item" id="mediumModeButton" onclick="onClickMedium();">Medium</a></li>
													<li><a class="dropdown-item" id="hardModeButton" onclick="onClickHard();">Hard</a></li>
												</ul>
											</div>
											<p class="text-center text-light mt-3" id="modeButtonOutputText"></p>
										</div>
									</div>
								</div>
								<div class="col-8 col-sm-6 col-md-4 mt-3">
									<a type="button" class="w-100 h-100 text-decoration-none" id="duoModeButton">
										<div class="border rounded-2 text-light p-3 text-center">
											<h3 class="text-center">Duo</h3>
											<img src="{% static 'img/boxe.png' %}" alt="boxe" width="200rem" height="200rem">
											<p>Duel to death...</p>
											<p class="text-center text-light" id="duoButtonOutputText"></p>
										</div>
									</a>
								</div>
								<div class="col-8 col-sm-6 col-md-4 mt-3">
									<a type="button" class="w-100 h-100 text-decoration-none" id="tournamentModeButton">
										<div class="border rounded-2 text-light p-3 text-center">
											<h3 class="text-center">Tournament</h3>
											<img src="{% static 'img/tournoi.png' %}" alt="tournoi" width="200rem" height="200rem">
											<p>Free-for-all...</p>
											<p class="text-center text-light" id="tournamentButtonOutputText"></p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="login" class="content content-login" style="display:none">
				<section class="py-5 mt-5">
					<div class="container">
						<div class="py-5 text-light">
							<div class="d-flex justify-content-center">
								<div class="col-8 border rounded-2 text-light">
									<div class="btn-group w-100">
										<a type="button" class="btn btn-outline-light" href="#login" id="logInButton">Log in</a>
										<a type="button" class="btn btn-outline-light" href="#signup" id="signUpButton">Sign up</a>
									</div>
									<div class = "p-5">
										<h3 class="text-center mb-4"> Log in</h3>
										<form class="row gy-4" id="logInForm">
											<div class="form-group">
												<label for="logInUsername" class="form-label">Username *</label>
												<input type="text" class="form-control" name="logInUsername" id="logInUsername" placeholder="Username" maxlength="15">
											</div>
											<div class="form-group">
												<label for="logInPassword" class="form-label">Password *</label>
												<input type="password" class="form-control" name="logInPassword" id="logInPassword" placeholder="Password" maxlength="15">
											</div>
											<div class="d-flex flex-column align-items-center">
												<button type="button" class="btn btn-outline-light w-100" onclick="logIn()">Log in</button>
											</div>
										</form>
										<form method="POST" action="/api_42/">
											<button type="submit" class="btn btn-light mt-3 w-100">Log in with <img src="{% static 'img/42_Logo.png' %}" alt="42" width="30rem" height="30rem"></button>
										</form>
										<p class="text-light text-center mt-4" id="logInOutput"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="signup" class="content content-signup" style="display:none">
				<section class="py-5 mt-5">
					<div class="container">
						<div class="py-5 text-light">
							<div class="d-flex justify-content-center">
								<div class="col-8 border rounded-2 text-light">
									<div class="btn-group w-100">
										<a type="button" class="btn btn-outline-light" href="#login" id="logInButton">Log in</a>
										<a type="button" class="btn btn-outline-light" href="#signup" id="signUpButton">Sign up</a>
									</div>
									<div class = "p-5">
										<h3 class="text-center mb-4">Sign up</h3>
										<form class="row gy-4" id="signUpForm">
											<div class="form-group">
												<label for="signUpUsername" class="form-label">Username *</label>
												<input type="text" class="form-control" name="signUpUsername" id="signUpUsername" placeholder="Username" maxlength="15">
											</div>
											<div class="form-group">
												<label for="signUpPassword" class="form-label">Password *</label>
												<input type="password" class="form-control" name="signUpPassword" id="signUpPassword" placeholder="Password" maxlength="15">
											</div>
											<div class="d-flex flex-column align-items-center">
												<button type="button" class="btn btn-outline-light w-100" onclick="signUp()">Sign up</button>
											</div>
										</form>
										<p class="text-light text-center mt-4" id="signUpOutput"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="profile" class="content content-profile" style="display:none">
				<section class="py-5 mt-5">
					<div class="container">
						<div class="py-5 text-light">
							<h2 class="mb-4 text-center">My account</h2>
							<div class="d-flex justify-content-center">
								<div class="col-8 col-md-10 border rounded-2 p-5 text-light">
									<div class=row>
										<h2 class="text-center" id="usernameProfileOutput"></h2>
									</div>
									<div class="row">
										<div class="col-12 col-sm-6 mt-3">
											<form class="d-flex flex-column justify-content-center align-items-center" id="avatarForm">
												<span>Select a file:</span>
												<label for="avatar_img" class="btn btn-outline-light mt-2">Choose File</label>
												<input type="file" name="avatar_img" id="avatar_img" style="display:none;">
												<span id="fileName" class="text-light text-break mt-2">No file chosen</span>
												<button class="btn btn-outline-light mt-2" type="button" onclick="uploadAvatar()">Upload</button>
											</form>
											<p class="text-light text-center mt-2" id="avatarOutput"></p>
											<div class="d-flex justify-content-center align-items-center">
												<img class="rounded-circle mt-3 mb-3" id="avatar" src="{% static 'img/default_avatar.png' %}" alt="User Avatar" width="200rem" height="200rem">
											</div>
										</div>
										<div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
											<h5 class="text-center" id="victoriesProfileOutput"></h5>
											<h5 class="text-center" id="defeatsProfileOutput"></h5>
										</div>
									</div>
									<div class="row">
										<div class="d-flex flex-column align-items-center">
											<h4 class="mt-5 mb-3">Add friends</h4>
											<input class="form-control mt-3" type="search" id="searchProfileInput" placeholder="Search Player" maxlength="15"/>
											<button type="button" class="btn btn-outline-light mt-3" onclick="searchAndAddFriend()">Send Request</button>
											<p class="text-light text-center mt-4" id="addFriendOutput"></p>
										</div>
										<h4 class="text-center">Friends list</h4>
										<ul id="requestsList"></ul>
										<ul id="friendsList"></ul>
										<p class="text-light text-center mt-3" id="friendsListOutput"></p>
									</div>
								</div>
							</div>
							<div class="mt-3 d-flex justify-content-center">
								<div class="col-8 col-md-10 border rounded-2 p-5 text-light">
									<h3 class="text-center mb-4">Account information</h3>
									<form class="row mt-3" id="updateUsernameForm">
										<div class="form-group row">
											<div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
												<label for="newUsernameInput" class="col-form-label text-center">New username</label>
											</div>
											<div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
												<input type="text" class="form-control" id="newUsernameInput" placeholder="Username" maxlength="15">
											</div>
										</div>
										<div class="d-flex justify-content-center mt-3">
											<button type="button" class="btn btn-outline-light me-4" onclick="updateUsername()">Update Username</button>
										</div>
									</form>
									<p class="text-light text-center mt-4" id="updateUsernameOutput"></p>
									<form class="row mt-3" id="updatePasswordForm">
										<div class="form-group row">
											<div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
												<label for="newPasswordInput" class="col-form-label text-center">New password</label>
											</div>
											<div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
												<input type="password" class="form-control" id="newPasswordInput" placeholder="Password" maxlength="15">
											</div>
										</div>
										<div class="d-flex justify-content-center mt-3">
											<button type="button" class="btn btn-outline-light me-4" onclick="updatePassword()">Update Password</button>
										</div>
									</form>
									<p class="text-light text-center mt-4" id="updatePasswordOutput"></p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="content content-game" style="display:none">
				<section class="py-5 mt-5">
					<div class="container">
						<div class="container">
							<div class="py-5 text-light">
								<h2>Pong</h2>
							</div>
								<button class="btn btn-outline-light m-3" onclick="displayNextMatch()">
									Next match
								</button>
								<button class="btn btn-outline-light m-3" onclick="displayLeaderboard()">
									Leaderboard
								</button>
								<div class="p-3 m-3 bg-light border rounded">
									<h3 class="text-center" id="informationOutput"></h3>
								</div>
						</div>
						<div class="d-flex justify-content-center" id="game">
							<canvas class="border rounded-2 gy-3" style="margin-top:60px;" id="myCanvas"></canvas>
						</div>
						<div class="container">
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-start align-items-center text-light fw-bold">
									<div class="border rounded-2 mt-2 p-2"><h2>A</h2></div>
									<p>Up</p>
								</div>
								<div class="col-6 d-flex flex-column justify-content-end align-items-center text-light fw-bold">
									<div class="border rounded-2 mt-2 p-2"><h2>&uarr;</h2></div>
									<p>Up</p>
								</div>
							</div>
							<div class="row">
								<div class="col-6 d-flex flex-column justify-content-start align-items-center text-light fw-bold">
									<div class="border rounded-2 mt-2 p-2"><h2>Z</h2></div>
									<p>Down</p>
								</div>
								<div class="col-6 d-flex flex-column justify-content-end align-items-center text-light fw-bold">
									<div class="border rounded-2 mt-2 p-2"><h2>&darr;</h2></div>
									<p>Down</p>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row d-flex justify-content-center">
								<div class="col-8 col-xl-4"><div class="d-flex flex-column align-items-center"><div id="player1StatsOutput" class="p-3 border rounded text-center"></div></div></div>
								<div class="col-8 col-xl-4 mt-3"><div class="d-flex flex-column align-items-center"><div id="matchStatsOutput" class="p-3 border rounded text-center"></div></div></div>
								<div class="col-8 col-xl-4 mt-3"><div class="d-flex flex-column align-items-center"><div id="player2StatsOutput" class="p-3 border rounded text-center"></div></div></div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="duo" class="content content-duo" style="display:none">
				<section class="py-5 mt-5">
					<div class="container">
						<div class="py-5 text-light">
							<div class="d-flex justify-content-center">
								<div class="col-8 col-md-10 border rounded-2 p-5 text-light">
									<h3 class="text-center mb-4">Duo mode</h3>
									<form class="row gy-4" id="duoForm">
										<div id="playerInputs">
											<div class="col-12">
												<label for="player1Duo" class="form-label">Online user</label>
												<input type="text" readonly class="form-control-plaintext text-light" id="player1Duo">
											</div>
											<div class="col-12 mt-2">
												<label for="player2Duo" class="form-label">Alias *</label>
												<input type="text" class="form-control" name="player2" id="player2Duo" placeholder="Alias" maxlength="15">
											</div>
										</div>
										<div class="d-flex justify-content-center">
											<button type="button" class="btn btn-outline-light w-100" id="duoSubmitButton" onclick="checkInputAndPlay()">Play</button>
										</div>
									</form>
									<p class="text-light text-center mt-4" id="duoOutputText"></p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="tournament" class="content content-tournament" style="display:none">
				<section class="py-5 mt-5">
					<div class="container">
						<div class="py-5 text-light">
							<div class="d-flex justify-content-center">
								<div class="col-8 col-md-10 border rounded-2 p-5 text-light">
									<h3 class="text-center mb-4">Tournament mode</h3>
									<form class="row gy-4" id="tournamentForm">
										<div id="tournamentInputs">
											<div id="playerInputs">
												<div class="col-12">
													<label for="player1Tournament" class="form-label">Online user</label>
												<input type="text" readonly class="form-control-plaintext text-light" id="player1Tournament">
												</div>
												<div class="col-12 mt-2">
													<label for="player2Tournament" class="form-label">Alias *</label>
													<input type="text" class="form-control" name="player2" id="player2Tournament" placeholder="Alias" maxlength="15">
												</div>
												<div class="col-12 mt-2">
													<label for="player3Tournament" class="form-label">Alias *</label>
													<input type="text" class="form-control" name="player3" id="player3Tournament" placeholder="Alias" maxlength="15">
												</div>
											</div>
										</div>
										<div class="d-flex flex-column align-items-center">
											<button type="button" class="btn btn-outline-light w-100" id="addPlayer" onclick="addPlayerToForm()"><i class="bi bi-person-plus-fill" style="font-size: 1.5rem;"></i></button>
											<button type="button" class="btn btn-outline-light mt-2 w-100" id="removePlayer" onclick="removePlayerFromForm()"><i class="bi bi-person-dash-fill" style="font-size: 1.5rem;"></i></button>
											<button type="button" class="btn btn-outline-light mt-3 w-100" id="tournamentSubmitButton" onclick="checkInputsAndPlayTournament()">Play</button>
										</div>
									</form>
									<p class="text-light text-center mt-4" id="tournamentOutputText"></p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="stats" class="content content-stats" style="display:none">
				<section class="py-5 mt-5">
				  <div class="container">
					<div class="py-5 text-light">
						<div class="container">
							<div class="d-flex flex-column align-items-center">
								<h2>Statistics</h2>
								<h4 class="mt-3">Find users</h4>
								<input class="form-control mt-3" type="search" id="searchPlayerInput" placeholder="Search Player" maxlength="15" style="width:12rem;"/>
								<button type="button" class="btn btn-outline-light mt-3" onclick="searchAndDisplayPlayerStats()">Show</button>
								<div class="dropdown mt-3">
									<button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownCategoryButton" data-bs-toggle="dropdown" aria-expanded="false">
										Category
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownCategoryButton">
										<li><a class="dropdown-item" id="globalStatsButton" onclick="displayGlobalStats()">Global</a></li>
										<li><a class="dropdown-item" id="soloModeStatsButton" onclick="displaySoloStats()">Solo</a></li>
										<li><a class="dropdown-item" id="duoModeStatsButton" onclick="displayDuoStats()">Duo</a></li>
										<li><a class="dropdown-item" id="tournamentModeStatsButton" onclick="displayTournamentStats()">Tournament</a></li>
										<li><a class="dropdown-item" id="pieChartButton" onclick="displayVictoriesAndDefeatsGraph()">Win rate</a></li>
										<li><a class="dropdown-item" id="barChartButton" onclick="displayVictoriesByModeGraph()">By mode</a></li>
										<li><a class="dropdown-item" id="plotChartButton" onclick="displayPointsByMatchGraph()">Points overtime</a></li>
										<li><a class="dropdown-item" id="historicalStatsButton" onclick="displayMatchStats()">History</a></li>
									</ul>
								</div>
								<div id="playerStatsOutput" class="p-3"></div>
							</div>
						</div>
					</div>
				  </div>
				</section>
			  </div>
			<div id="blockchain" class="content content-blockchain" style="display:none">
				<section class="py-5 mt-5">
					<div class="container">
						<div class="py-5 text-light">
							<div class="container">
								<div class="d-flex flex-column align-items-center">
									<h2>Find blocks</h2>
									<input class="form-control mt-3" type="number" id="tournamentIdInput" placeholder="Tournament ID" min="0" style="width:12rem;">
									<button class="btn btn-outline-light mt-3" id="getTournamentScores" onclick="getBlock()">Show</button>
									<div class="mt-3" id="blockchainOutput"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
		<footer>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
		<script src="{% static 'api.js' %}"></script>
		<script src="{% static 'chart.js' %}"></script>
		<script src="{% static 'utils.js' %}"></script>
		<script src="{% static 'script.js' %}"></script>
		<script src="{% static 'block.js' %}"></script>
		<script src="{% static 'pongInterval.js' %}"></script>
	</body>
</html>
